In [1]:
# Question: What is the risk for given data? speed=160km/h, car_age = 10years, experience = 5years.

import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('car_data.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
df.experience.mean()

6.6

In [6]:
exm_fit = df.experience.median()

In [7]:
exm_fit

5.0

In [8]:
df.experience = df.experience.fillna(exm_fit)

In [9]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [10]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [11]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [12]:
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [14]:
reg.predict([[160, 10, 5]])

C:\Users\Showmik Debnath\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [15]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [16]:
reg.intercept_

33.410000910435905

In [17]:
y=0.33059217*160 + 1.61053246*10 + 5*-6.20772074 + 33.410000910435905

In [18]:
y

71.3714690104359