In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("home data.csv")
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [3]:
df.shape

(99, 2)

In [4]:
x = df['x']
y = df['y']

# Gradient Descent in ML

In [5]:
#First Step
m = 0
c = 0
Learning_rate = 0.0001

n = int(len(x))

iteration = 1000

# 2nd Step

for i in range(iteration):
    y_prediction = m * x + c 
    derivatives_m = (-2/n) * sum(x*(y-y_prediction))
    derivatives_c = (-2/n) * sum(y-y_prediction)
    
    #final step
    
    m = m - Learning_rate * derivatives_m
    c = c - Learning_rate * derivatives_c
    
print("This is final m: ",m)
print("This is final c: ",c)

This is final m:  1.4796491688881985
This is final c:  0.10148121497503648

# Make Prediction

In [7]:
x = float(input('Enter any value of x: '))
y = 1.4796491688881985 * x + 0.10148121497503648
print('Predicted Value: ', y)

Enter any value of x: 45.618644
Predicted Value:  67.60106989538164